html, body {
    width: 100%;
    height: 100%;
    margin: 1%;
    padding: 0;
    background: rgb(29,135,134);
background: radial-gradient(circle, rgba(29,135,134,1) 0%, rgba(0,0,0,1) 100%);
    display: flex;
    justify-content: center;
  }

main {
    width: 100vmin;
    height: 100vmin;  
   
  }

canvas {
  position:fixed;
  top:0;
  left:0; 
  width:100%; 
  height:100%;
  }

h1 {
  color: rgb(200,200,200);
  font-family:RBNo2;
  font-size: 300%;
  text-align:center;
  background: rgba(0,0,0,0.4)
}
  
@font-face {
  font-family: RBNo2;
  src: url('font/RBNo2/RBNo2Light-Light.eot');
  src: url('font/RBNo2/RBNo2Light-Light.eot?#iefix') format('embedded-opentype'),
    url('font/RBNo2/RBNo2Light-Light.woff2') format('woff2'), 
    url('font/RBNo2/RBNo2Light-Light.woff') format('woff'),
    url('font/RBNo2/RBNo2Light-Light.ttf') format('truetype');
}