html {
    overflow:auto;
/**    display: flex;
    justify-content: center;*/
  }

/**main {
    width: 100vmin;
    height: 100vmin;  
   
  }
*/
body {
  min-width: 99%;
  height: 100%;
  overflow: hidden;

  background: rgb(29,135,134);
  background: radial-gradient(circle, rgba(29,135,134,1) 0%, rgba(0,0,0,1) 100%);
}

a {
  color: rgb(200,255,0)
}

#canvas { 
    width:100%; 
    height:100%; 
    position:fixed;    
    top:0; 
    left:0; 
  }
#body   { 
    height:100%;
    width: 100%;
    
    position:absolute; 
    top:0; 
    left:0; 
/*    display:flex;
    justify-content: center;*/
  }

/*canvas {
  position:fixed;
  top:0;
  left:0; 
  width:100%; 
  height:100%;
  }*/
#title {
  text-align:center;
  background: rgba(200,200,200,0.2);
}

h1 {
  color: rgb(200,200,200);
  font-family:RBNo2;
  font-size: 300%;
  height: 1em;
}

#outline-text {
  color: rgb(255,255,255);
}



.text-image {
  display:inline;
  width:1em;
  height:1em;
}

.info-section {
  margin: 2em 1em;
  width: calc(100%/3);
  background: rgba(255,255,255,0.5);
}
  
@font-face {
  font-family: RBNo2;
  src: url('font/RBNo2/RBNo2Light-Light.eot');
  src: url('font/RBNo2/RBNo2Light-Light.eot?#iefix') format('embedded-opentype'),
    url('font/RBNo2/RBNo2Light-Light.woff2') format('woff2'), 
    url('font/RBNo2/RBNo2Light-Light.woff') format('woff'),
    url('font/RBNo2/RBNo2Light-Light.ttf') format('truetype');
}